

<div class="container mt-5">
  <h2>Salarie List </h2>
  <button  class=" add abtna" (click)="add()"> <fa-icon style="font-size: 12px;" [icon]="fa['faPlus']"></fa-icon></button>
<table class="table table-striped table-hover " >
  <thead>
    <tr>
      <th>
        <span class="custom-checkbox">
        
        </span>
      </th>
      <th>ID</th>
      <th>NOM</th>
      <th>PRENOM</th>
      <th>EMAIL</th>
      <th>DATE DE NAISSANCE</th>
      <th>CLIENT</th>
      <th>ACTIONS</th>
    </tr>
  </thead>
  <tbody>


    <tr *ngFor="let salarie of salaries$ | async" >
      <td>
        <span class="custom-checkbox">
          <input type="checkbox" id="checkbox1" name="options[]" value="1">
          <label for="checkbox1"></label>
        </span>
      </td>
      <td>{{ salarie.id }}</td>
        <td>{{ salarie.nom }}</td>  
           <td>{{ salarie.prenom }} </td>  
           <td> ({{ salarie.email }})</td>
           <td> {{ salarie.birthDate }}</td>
           <td> {{ salarie.client.nom }}</td>
        <td>


              <div  class="edit abtna m-1" (click)="update(salarie.id,salarie)"  ><fa-icon style="font-size: 12px;" [icon]="fa['faEdit']"></fa-icon></div>
              <div  class="delete abtna m-1"  (click)="deleteSalarie(salarie.id)" ><fa-icon style="font-size: 12px;" [icon]="fa['faTrash']"></fa-icon></div>
       
        </td>
    </tr>

  </tbody>
</table>
</div>