
<div class="container mt-5">

  <h2>Client List </h2><button  class=" add abtna" (click)="add()"> <fa-icon style="font-size: 12px;" [icon]="fa['faPlus']"></fa-icon></button>
<table class="table table-striped table-hover " >
  <thead>
    <tr>
      <th>
        <span class="custom-checkbox">
        
        </span>
      </th>
      <th>ID</th>
      <th>NOM</th>
      <th>SIRET</th>
      <th>ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients$ | async" >
      <td>
        <span class="custom-checkbox">
          <input type="checkbox" id="checkbox1" name="options[]" value="1">
          <label for="checkbox1"></label>
        </span>
      </td>
      <td>{{ client?.id }}</td>
      <td>{{ client?.nom }}</td>
      <td>{{client?.siret}}</td>

      <td>
        <div  class="edit abtna m-1"  (click)="update(client.id,client)"  ><fa-icon style="font-size: 12px;" [icon]="fa['faEdit']"></fa-icon></div>
        <div  class="delete abtna m-1"  (click)="deleteClient(client.id)" ><fa-icon style="font-size: 12px;" [icon]="fa['faTrash']"></fa-icon></div>
      </td>
    </tr>


  </tbody>
</table>
</div>